body {
}

h1 {
	font-family: 'Raleway', sans-serif;

}

h2 {
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

h3 {
	text-decoration: underline;
	text-transform: uppercase;
}

h4 {
	font-variant: small-caps;
	font-weight: bold;

}

p {
   text-align: justify;

}

li {
	line-height: 40px;


}

	.equation {
		text-indent: 20px
	}


