body, html {
	height:100%;
	width: 1100vw;
	margin:0;
	background: #FFE5AB;
	
}

#grid {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(11,100vw);
}

/*#border-top {
	position: fixed;
	width: 150vw;
	height: 25px;
	background: #FFE5AB;
	z-index: 1;
}

#border-bottom {
	position: fixed;
	width: 150vw;
	bottom: 0vh;
	height: 25px;
	background: #FFE5AB;
	z-index: 1;
}

#border-left {
	position: fixed;
	width: 25px;
	left: 0vw;
	height: 100vh;
	background: #FFE5AB;
	z-index: 1;
}

#border-right {
	position: fixed;
	width: 25px;
	right: 0vw;
	height: 100vh;
	background: #FFE5AB;
	z-index: 1;
}
*/


h1 {
	color: #BF2E26;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 15px;
	font-style: bold;
	text-align: center;
	font-size: 25vh;
	line-height: 30vh;
	position: relative;
	width: 100vw;
	top: -15vh;

	
}

h2 {
	color: #59534D;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	width: 40vw;
	top: 10vh;
	left: 5vw;
}

h3 {
	color: #BF2E26;
	font-family: 'Rubik', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 50px;
	position: relative;
	width: 90vw;
	top: 10vh;
	left: 5vw;
}

h4 {
	color: #BF2E26;
	font-family: 'Rubik', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	width: 80vw;
	top: 5vh;
	left: 5vw;
}

p {
	color: #bf2e25;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	width: 40vw;
	top: 20vh;
	left: 5vw;
	text-indent: -0.5em;
}

#title {
	grid-column: 1;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
	
}

#quote-one {
	grid-column: 2;
	width: 100vw;
	height: 25px;
	/*background: yellow;*/

}

#quote-two {
	grid-column: 3;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
}

#song-0 {
	grid-column: 4;
	width: 100vw;
	height: 25px;
	/*background: yellow;*/
}

#song-1 {
	grid-column: 5;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
}

#song-2 {
	grid-column: 6;
	width: 100vw;
	height: 25px;
	/*background: yellow;*/
}

#song-3 {
	grid-column: 7;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
}

#song-4 {
	grid-column: 8;
	width: 100vw;
	height: 25px;
	/*background: yellow;*/
}

#song-5 {
	grid-column: 9;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
}

#song-6 {
	grid-column: 10;
	width: 100vw;
	height: 25px;
	/*background: yellow;*/
}

#end-card {
	grid-column: 11;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
	
}

#player {
	position:fixed;
	width:200px; height:200px;
	top:-250px;
}
