body, html {
	height:100%;
	width: 1600vw;
	margin:0;
	background: #FFE5AB;
	
}


#border-top {
	position: fixed;
	width: 150vw;
	height: 25px;
	background: #FFE5AB;
	z-index: 1;
}

#border-bottom {
	position: fixed;
	width: 150vw;
	bottom: 0vh;
	height: 25px;
	background: #FFE5AB;
	z-index: 1;
}

#border-left {
	position: fixed;
	width: 25px;
	left: 0vw;
	height: 100vh;
	background: #FFE5AB;
	z-index: 1;
}

#border-right {
	position: fixed;
	width: 25px;
	right: 0vw;
	height: 100vh;
	background: #FFE5AB;
	z-index: 1;
}



h1 {
	color: #BF2E26;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 15px;
	font-style: bold;
	text-align: center;
	font-size: 25vh;
	line-height: 25vh;
	position: absolute;
	width: 100vw;
	top: -10vh;
	
	
	
}

h2 {
	color: #59534D;
	font-family: 'Rock Salt', cursive;
	font-weight: normal;
	font-size: 19px;
	line-height: 30px;
	position: absolute;
	width: 500px;
	left: 10vw;
	top: 20vh;
}

h3 {
	background: #FFE5AB;
	color: #BF2E26;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 3px;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	position: absolute;
	width: 100vw;
	top: 20vh;
}

p {
	color: #59534D;
	font-family: 'Rock Salt', cursive;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	position: absolute;
	width: 600px;
	left: 10vw;
	top: 50vh;
}

#title {
	position: absolute;
	width: 150vw;
	height: 25px;
	/*background: pink;*/
	
}

#quote-one {
	position: absolute;
	left: 150vw;
	width: 150vw;
	height: 25px;
	/*background: yellow;*/

}

#quote-two {
	position: absolute;
	left: 300vw;
	width: 150vw;
	height: 25px;
	/*background: pink;*/
}

#song-one {
	position: absolute;
	left: 450vw;
	width: 150vw;
	height: 25px;
	/*background: yellow;*/
}

#song-two {
	position: absolute;
	left: 600vw;
	width: 150vw;
	height: 25px;
	/*background: pink;*/
}

#song-three {
	position: absolute;
	left: 750vw;
	width: 150vw;
	height: 25px;
	/*background: yellow;*/
}

#song-four {
	position: absolute;
	left: 900vw;
	width: 150vw;
	height: 25px;
	/*background: pink;*/
}

#song-five {
	position: absolute;
	left: 1050vw;
	width: 150vw;
	height: 25px;
	/*background: yellow;*/
}

#song-six {
	position: absolute;
	left: 1200vw;
	width: 150vw;
	height: 25px;
	/*background: pink;*/
}

#song-seven {
	position: absolute;
	left: 1350vw;
	width: 150vw;
	height: 25px;
	/*background: yellow;*/
}

#end-card {
	position: absolute;
	left: 1500vw;
	width: 100vw;
	height: 25px;
	/*background: pink;*/
	
}
