.letter {

        		width:110px; /*resize as you see fit */
        		height:185px; /*resize as you see fit */
        		display:inline-block;  /*this makes block level elements act like letters (so they sit next to eachother) */
        		/*border:1px solid #000;*/ /*feel free to remove or hide this rule */
        		position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
        	}

.letter-b {
				width:120px; 
			}

.letter-m {
				width:185px; 
			}

.letter-s {
				width:155px; 
			}

.letter-w {
				width:185px; 
			}

.letter-z {
				width:155px; 
			}

        	/*curved block-black*/
			div-1 {
				background: black;
				width: 100px;
				height: 100px;
				border-radius: 0% 50% 50% 0%;
				position: absolute;
			}

			/*curved block-white*/
			div-2 {
				background: white;
				width: 50px;
				height: 50px;
				border-radius: 0% 50% 50% 0%;
				position: absolute;
				
			}

			/*rectangle-black*/
			div-3 {
				background: black;
				width: 25px;
				height: 25px;
				position:absolute;

			}

			/*rectangle-white*/
			div-4 {
				background: white;
				width: 25px;
				height: 25px;
				position:absolute;
			}


			.A-top {
				border-radius: 0% 50% 50% 0%;
				transform: rotate(270deg);
				top:5px;
				left:5px;
			}

			.A-counter {
				border-radius: 0% 50% 50% 0%;
				transform: rotate(270deg);
				top:30px;
				left:30px;

			}

			.A-concealer-top {
				width:50px;
				height: 50px;
				top:80px;
				left:30px;

			}

			.A-crossbar {
				border-radius: 0% 50% 50% 0%;
				transform: rotate(270deg);
				top:80px;
				left:5px;

			}

			.A-crossbar-counter {
				border-radius: 0% 50% 50% 0%;
				transform: rotate(270deg);
				top:105px;
				left:30px;
			}

			.A-left {
				width: 25px;
				height: 75px;
				top: 105px;
				left:5px;
			}

			.A-right {
				width: 25px;
				height: 75px;
				top: 105px;
				right: 5px;
			}

			.A-concealer-bottom {
				width:50px;
				height: 50px;
				bottom:5px;
				left:30px;

			}

			.B-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
			}

			.B-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;

			}

			.B-bottom {
				border-radius: 0% 50% 50% 0%;
				top:80px;
				left:15px;
			}

			.B-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				top:105px;
				left:40px;
			}

			.B-concealer-left {
				width:10px;
				height: 50px;
				top:105px;
				left:30px;

			}

			.B-left {
				width: 10px;
				height: 75px;
				top: 105px;
				left:5px;
			}

			.C-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.C-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg);

			}

			.C-bottom {
				border-radius: 0% 50% 50% 0%;
				top:80px;
				left:5px;
				transform: rotate(90deg);
			}

			.C-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.C-concealer-middle {
				width:50px;
				height: 50px;
				top:80px;
				left:30px;

			}

			.C-concealer-end {
				width:25px;
				height:50px;
				top:70px;
				right:5px;

			}

			.D-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
			}

			.D-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;

			}

			.D-bottom {
				border-radius: 0% 50% 50% 0%;
				top:80px;
				left:5px;
			}

			.D-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				top:105px;
				left:30px;
			}

			.D-concealer-middle {
				width:50px;
				height:75px;
				top:55px;
				left:30px;

			}

			.D-right {
				width: 25px;
				height:75px;
				top: 60px;
				right:5px;
			}

			.E-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.E-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg);

			}

			.E-bottom {
				border-radius: 0% 50% 50% 0%;
				top:80px;
				left:5px;
				transform: rotate(90deg);
			}

			.E-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				top:105px;
				left:30px;
				transform: rotate(90deg);
			}

			.E-concealer-top {
				width:50px;
				height:50px;
				top:30px;
				right:5px;

			}

			.E-concealer-bottom {
				width:50px;
				height:50px;
				top:105px;
				right:5px;

			}

			.E-concealer-middle {
				width:25px;
				height:25px;
				top:80px;
				right:5px;

			}

			.E-bar-top {

				width:50px;
				height:25px;
				top:5px;
				right:5px;

			}

			.E-bar-bottom {
				width:50px;
				height:25px;
				bottom:5px;
				right:5px;

			}

			.F-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.F-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg);

			}

			.F-concealer-top {
				width:50px;
				height:50px;
				top:30px;
				right:5px;

			}

			.F-concealer-middle {
				width:25px;
				height:25px;
				top:80px;
				right:5px;

			}

			.F-bar-top {
				width:50px;
				height:25px;
				top:5px;
				right:5px;

			}

			.F-left {
				width: 25px;
				height: 75px;
				bottom: 5px;
				left:5px;
			}

			.G-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.G-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg);

			}

			.G-bottom {
				border-radius: 0% 50% 50% 0%;
				top:80px;
				left:5px;
				transform: rotate(90deg);
			}

			.G-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.G-concealer-middle {
				width:50px;
				height: 50px;
				top:70px;
				left:30px;

			}

			.G-concealer-end {
				width:25px;
				height:25px;
				top:60px;
				right:5px;

			}

			.G-bar {
				width:50px;
				height:25px;
				top:80px;
				left:55px;

			}

			.H-crossbar {
				border-radius: 0% 50% 50% 0%;
				transform: rotate(270deg);
				top:80px;
				left:5px;

			}

			.H-crossbar-counter {
				border-radius: 0% 50% 50% 0%;
				transform: rotate(270deg);
				bottom:30px;
				left:30px;
			}

			.H-left {
				width: 25px;
				height: 175px;
				top: 5px;
				left:5px;
			}

			.H-right {
				width: 25px;
				height: 175px;
				top: 5px;
				right: 5px;
			}

			.H-concealer-bottom {
				width:50px;
				height: 50px;
				bottom:5px;
				left:30px;

			}

			.I-bar {
				width: 25px;
				height: 175px;
				top: 5px;
				left:42.5px;
			}

			.I-bar-top {
				width:100px;
				height:25px;
				top:5px;
				left:5px;

			}

			.I-bar-bottom {
				width:100px;
				height:25px;
				bottom:5px;
				left:5px;

			}

			.J-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.J-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.J-concealer-middle {
				width:50px;
				height: 50px;
				top:70px;
				left:30px;

			}

			.J-bar {
				width: 25px;
				height: 75px;
				top: 5px;
				right:5px;
			}

			.J-concealer-end {
				width:25px;
				height:40px;
				top:70px;
				left:5px;

			}

			.K-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.K-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(90deg);

			}

			.K-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.K-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(270deg)

			}

			.K-concealer-top {
				width:50px;
				height:50px;
				top:5px;
				left:30px;

			}

			.K-concealer-bottom {
				width:50px;
				height:50px;
				bottom:5px;
				left:30px;

			}

			.K-bar {
				width: 25px;
				height: 175px;
				top: 5px;
				left:5px;
			}

			.K-concealer-top-left {
				width:25px;
				height:25px;
				top:55px;
				left:30px;

			}

			.K-concealer-bottom-left {
				width:25px;
				height:25px;
				bottom:55px;
				left:30px;

			}

			.L-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.L-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.L-concealer-bottom {
				width:50px;
				height:50px;
				bottom:30px;
				right:5px;

			}

			.L-concealer-middle {
				width:75px;
				height:25px;
				top:80px;
				left:30px;

			}

			.L-bar-bottom {
				width:50px;
				height:25px;
				bottom:5px;
				right:5px;

			}

			.L-bar-left {
				width: 25px;
				height: 100px;
				top: 5px;
				left:5px;
			}

			.M-bar {
				width: 25px;
				height: 75px;
				bottom: 5px;
				left:80px;
			}

			.M-bar-left {
				width: 25px;
				height: 175px;
				top: 5px;
				left:5px;
			}

			.M-bar-right {
				width: 25px;
				height: 175px;
				top: 5px;
				right:5px;
			}

			.M-left {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.M-counter-left {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg)

			}

			.M-concealer-left {
				width:50px;
				height:50px;
				top:60px;
				left:30px;

			}
			
			.M-right {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				right:5px;
				transform: rotate(270deg);
			}
			
			.M-counter-right {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				right:30px;
				transform: rotate(270deg)

			}

			.M-concealer-right {
				width:50px;
				height:50px;
				top:60px;
				right:30px;

			}

			/*inside corner*/
			.M-concealer-top-left {
				width:25px;
				height:25px;
				top:30px;
				left:30px;

			}

			.M-concealer-top-right {
				width:25px;
				height:25px;
				top:30px;
				right:30px;

			}

			/*outside corner*/
			.M-bar-top-left {
				width:50px;
				height:25px;
				top:5px;
				left:5px;

			}

			.M-bar-top-right {
				width:50px;
				height:25px;
				top:5px;
				right:5px;

			}

			.N-bar {
				width: 25px;
				height: 75px;
				bottom: 5px;
				right: 5px;
			}

			.N-bar-left {
				width: 25px;
				height: 175px;
				top: 5px;
				left: 5px;
			}

			.N-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.N-counter {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg)

			}

			.N-concealer-left {
				width:50px;
				height:50px;
				top:70px;
				left:30px;

			}

			.N-concealer-top-left {
				width:25px;
				height:25px;
				top:30px;
				left:30px;

			}

			.N-bar-top-left {
				width:50px;
				height:25px;
				top:5px;
				left:5px;

			}

			.O-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.O-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg);

			}

			.O-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.O-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.O-concealer-middle {
				width:50px;
				height: 50px;
				top:70px;
				left:30px;

			}

			.P-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
			}

			.P-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;

			}

			.P-left {
				width: 25px;
				height: 75px;
				bottom: 5px;
				left:5px;
			}

			.Q-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.Q-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(270deg);

			}

			.Q-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom: 5px;
				left: 5px;
				transform: rotate(90deg);
			}

			.Q-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.Q-concealer-middle {
				width:50px;
				height: 50px;
				top:70px;
				left:30px;

			}

			.Q-bar {
				width:50px;
				height:25px;
				bottom:5px;
				right:5px;

			}

			.R-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
			}

			.R-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;

			}

			.R-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
			}

			.R-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
			}

			.R-right {
				width: 25px;
				height: 50px;
				bottom: 5px;
				right: 5px;

			}

			.R-concealer-bottom {
				width:50px;
				height: 50px;
				bottom:5px;
				left:30px;

			}

			.S-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(180deg);
			}

			.S-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(180deg);

			}

			.S-concealer-top {
				width:50px;
				height:50px;
				top:30px;
				left:60px;

			}

			.S-bar-top {
				width:30px;
				height:25px;
				top:5px;
				right:20px;
			}


			.S-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				right:5px;
			}

			.S-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				right:30px;
			}

			.S-concealer-bottom {
				width:50px;
				height:50px;
				bottom:30px;
				right:60px;
			}

			.S-bar-bottom {
				width:50px;
				height:25px;
				bottom:5px;
				left:5px;

			}

			.T-bar {
				width: 25px;
				height: 175px;
				top:5px;
				left:42.5px;
			}

			.T-bar-top {
				width:100px;
				height:25px;
				top:5px;
				left:5px;

			}

			.U-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.U-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.U-concealer-middle {
				width:50px;
				height: 50px;
				top:70px;
				left:30px;

			}

			.U-left {
				width: 25px;
				height: 75px;
				top: 5px;
				left:5px;
			}

			.U-right {
				width: 25px;
				height: 75px;
				top: 5px;
				right: 5px;
			}

			.V-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.V-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg);
			}

			.V-concealer-middle {
				width:50px;
				height: 50px;
				top:70px;
				left:30px;

			}

			.V-left {
				width: 25px;
				height: 175px;
				top: 5px;
				left:5px;
			}

			.V-right {
				width: 25px;
				height: 75px;
				top: 5px;
				right: 5px;
			}

			.V-concealer-bottom-left {
				width:25px;
				height:25px;
				bottom:30px;
				left:30px;

			}

			.V-bar-bottom-left {
				width:50px;
				height:25px;
				bottom:5px;
				left:5px;

			}

			.W-bar {
				width: 25px;
				height: 75px;
				top: 5px;
				left:80px;
			}

			.W-bar-left {
				width: 25px;
				height: 175px;
				top: 5px;
				left:5px;
			}

			.W-bar-right {
				width: 25px;
				height: 175px;
				top: 5px;
				right:5px;
			}

			.W-left {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left: 5px;
				transform: rotate(90deg);
			}

			.W-counter-left {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg)

			}

			.W-concealer-left {
				width:50px;
				height:50px;
				top:70px;
				left:30px;

			}
			
			.W-right {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				right:5px;
				transform: rotate(90deg);
			}
			
			.W-counter-right {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				right:30px;
				transform: rotate(90deg)

			}

			.W-concealer-right {
				width:50px;
				height:50px;
				top:70px;
				right:30px;

			}

			/*inside corner*/
			.W-concealer-top-left {
				width:25px;
				height:25px;
				bottom:30px;
				left:30px;

			}

			.W-concealer-top-right {
				width:25px;
				height:25px;
				bottom:30px;
				right:30px;

			}

			/*outside corner*/
			.W-bar-top-left {
				width:50px;
				height:25px;
				bottom:5px;
				left:5px;

			}

			.W-bar-top-right {
				width:50px;
				height:25px;
				bottom:5px;
				right:5px;

			}

			.X-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.X-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(90deg);

			}

			.X-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(270deg);
			}

			.X-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(270deg)

			}

			.X-concealer-top {
				width:50px;
				height:50px;
				top:5px;
				left:30px;

			}

			.X-concealer-bottom {
				width:50px;
				height:50px;
				bottom:5px;
				left:30px;

			}


			.Y-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.Y-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(90deg)

			}

			.Y-concealer-bottom {
				width:75px;
				height:50px;
				top:70px;
				left:5px;

			}

			.Y-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				left:5px;
				transform: rotate(90deg);
			}

			.Y-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				left:30px;
				transform: rotate(90deg);

			}

			.Y-concealer-top {
				width:50px;
				height:50px;
				top:5px;
				left:30px;

			}

			.Y-right {
				width: 25px;
				height: 50px;
				top: 60px;
				right: 5px;
			}

			.Z-top {
				border-radius: 0% 50% 50% 0%;
				top:5px;
				right:5px;
			}

			.Z-counter-top {
				border-radius: 0% 50% 50% 0%;
				top:30px;
				right:30px;

			}

			.Z-concealer-top {
				width:50px;
				height:50px;
				top:30px;
				right:60px;

			}

			.Z-bar-top {
				width:40px;
				height:25px;
				top:5px;
				left:10px;
			}


			.Z-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:5px;
				left:5px;
				transform: rotate(180deg);
			}

			.Z-counter-bottom {
				border-radius: 0% 50% 50% 0%;
				bottom:30px;
				left:30px;
				transform: rotate(180deg);
			}

			.Z-concealer-bottom {
				width:50px;
				height:50px;
				bottom:30px;
				left:60px;
			}

			.Z-bar-bottom {
				width:50px;
				height:25px;
				bottom:5px;
				right:5px;

			}

			/*inside corner*/
			.Z-concealer-top-right {
				width:25px;
				height:25px;
				top:30px;
				right:30px;

			}

			.Z-concealer-bottom-left {
				width:25px;
				height:25px;
				bottom:30px;
				left:30px;

			}

			/*outside corner*/
			.Z-bar-top-right{
				width:25px;
				height:50px;
				top:5px;
				right:5px;

			}

			.Z-bar-bottom-left {
				width:25px;
				height:50px;
				bottom:5px;
				left:5px;

			}

			/*square block*/
			.Z-square-top {
				width:25px;
				height:25px;
				top:5px;
				right:30px;

			}

			.Z-square-bottom {
				width:25px;
				height:25px;
				bottom:5px;
				left:30px;

			}			