body, html {
	height:100%;
	margin:0;
	background: black;
	font-family: 'Robot Mono', monospace;
	
}

h1{
	font-weight: bold;
	font-size: 50px;
	font-weight: 500;
	color: blue;
	padding-left: 2vw;
	padding-top :2vw;
	
}


p {
	font-size: 14px;
	font-weight: 300;
	color: white;
	padding-left: 2vw;
	padding-bottom: 2vw;
}

img {
	width: 96vw;
	padding-left :2vw;
	padding-right :2vw;
	padding-top :2vw;
	
}